.SideMenu {
	display: flex;
	position: relative;
	flex-direction: column;
	height: 100vh;
	width: var(--side-menu-width);
	border-right: 1px solid var(--color-primary);
	box-shadow: 0 0 10px 0 var(--color-primary);
	z-index: 100;
	padding: 1rem;
	padding-top: 4.5rem;
}

.collapsed {
	width: var(--side-menu-width-collapsed);
}

.ExpandToggle {
	position: absolute;
	top: 5px;
	right: 5px;
	width: calc(var(--side-menu-width-collapsed) - 10px);
	height: calc(var(--side-menu-width-collapsed) - 10px);
	padding: 0.25rem;
	border-radius: 5px;
	cursor: pointer;
	background-color: var(--color-surface-highlight);

    &:hover {
        background-color: var(--color-surface-highlight-hover);
    }
}

.TopContent {
	display: flex;
	flex-direction: column;
	flex-shrink: 1;
	flex-grow: 0;
}

.BottomContent {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	overflow: auto;
}
