
.SideMenu {
    height: 100vh;
    width: var(--side-menu-width);
    border-right: 1px solid var(--color-primary);
    box-shadow: 0 0 10px 0 var(--color-primary);
    z-index: 100;
    padding: 1rem;
}

.logo {
    width: 177px;
    height: 60px;
    position: relative;
}

.countyData {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}
.countyData p {
    font-size: 12px;
    margin: 0;
}