
.InteractiveMap {
    position: relative;
    width: calc(100vw - var(--side-menu-width));
    height: 100vh;
}

.expanded {
    width: calc(100vw - var(--side-menu-width-collapsed));
}

.Map {
    position: relative;
    width: 100%;
    height: 100%;
}