:root {
    --side-menu-width: 350px;

	--color-surface: #faeccb;
	--color-content: #333;
	--color-primary: #3b5f2d;
	--color-secondary: #b5892f;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

body {
    color: var(--color-content);
	background-color: var(--color-surface);
}

a {
	color: inherit;
	text-decoration: none;
}