.FlexBox {
    display: flex;
}

.width-full {
    width: 100%;
}

.width-auto {
    width: auto;
}

.grow {
    flex-grow: 1;
}

.col {
    flex-direction: column;
}

.py-sm {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-md {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-lg {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-xl {
    padding-top: 2rem;
    padding-bottom: 2rem;
}