.FlexBox {
    display: flex;
}

.width-full {
    width: 100%;
}

.width-auto {
    width: auto;
}

.grow {
    flex-grow: 1;
}

.col {
    flex-direction: column;
}

.py-sm {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.py-md {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.py-lg {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-xl {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.gap-sm {
    gap: 0.25rem;
}

.gap-md {
    gap: 0.5rem;
}

.gap-lg {
    gap: 1rem;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.align-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}